* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: black;
    overflow: hidden;
}

canvas {
    background: #b2b2b2;
    position: absolute;
    top: 0;
    left: 0;
}
